name: Football Tracker CI/CD APP

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: write
  pages: write
  id-token: write

defaults:
  run:
    shell: bash

jobs:
  Testing:
    uses: ./.github/workflows/Testing.yml
    with:
      mongodb_uri: ${{ secrets.MONGODB_URI }}

  Run_Server:
    needs: Testing
    uses: ./.github/workflows/Run_Server.yml

  Build:
    needs: Run_Server
    uses: ./.github/workflows/build.yml

  Deploy:
    needs: Build
    uses: ./.github/workflows/deploy.yml

  Backup:
    needs: Deploy
    uses: ./.github/workflows/backup.yml

  Notification:
    if: always()
    needs: Backup
    continue-on-error: true
    uses: ./.github/workflows/notify.yml
    with:
      job_summary: ${{ toJson(needs) }}
      receivers_email: "dayvidchimere@gmail.com"
      attach: "${{ needs.backup.outputs.results }}"

  Report:
    if: failure()
    uses: ./.github/workflows/report.yml
