name: Football Tracker CI/CD APP

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  Testing:
    uses: ./.github/workflows/Testing.yml


  Run_Server:
    needs: Testing
    uses: ./.github/workflows/Run_Server.yml

  Build:
    needs: Run_Server
    uses: ./.github/workflows/build.yml

  Deploy:
    needs: Build
    uses: ./.github/workflows/deploy.yml

  Backup:
    needs: Deploy
    uses: ./.github/workflows/backup.yml

  Notification:
    needs: Backup
    uses: ./.github/workflows/notify.yml
    with:
      job_summary: ${{ toJson(needs) }}
      receivers_email: "dayvidchimere@gmail.com"
      attach: "${{ needs.Backup.outputs.results }}"

  Report:
    if: failure()
    uses: ./.github/workflows/report.yml
