name: Integration_Test
on:
  workflow_call:
    secrets:
      mongodb_uri:
        required: true

    inputs:
      node-version:
        description: "Node version(s)"
        required: false
        type: string
        default: '["20"]'

      os-version:
        description: "Runner OS"
        required: false
        type: string
        default: '[ "ubuntu-latest" ]'

      port:
        description: "Enter the series of port you want to use"
        required: false
        type: string
        default: '["3000"]'
    outputs:
      results:
        value: |
          ${{ jobs.run_server.outputs.result }}
          ${{ jobs.run_server.outputs.result }}

jobs:
  run_server:
    outputs:
      result: ${{steps.run-test.outputs.status}}
    strategy:
      matrix:
        node-version: ${{ fromJSON(inputs.node-version) }}
        os: ${{ fromJSON(inputs.os-version) }}
        port: ${{ fromJSON(inputs.port) }}
    runs-on: ${{matrix.os}}
    environment: football_tracker
    env:
      PORT: ${{matrix.port}}
      MONGODB_URI: ${{ secrets.MONGODB_URI || secrets.mongodb_uri }}


    steps:
      - name: get code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: ./.github/actions/node_and_dependencies
        with:
          node-version: ${{ matrix.node-version }}

      - name: Debug MONGODB_URI presence
        run: |
          if [ -z "$MONGODB_URI" ]; then
            echo "❌ MONGODB_URI is empty"
            exit 1
          else
            echo "✅ MONGODB_URI is loaded"
            echo "Length: ${#MONGODB_URI}"
          fi


      - name: Start backend server and call url
        id: backend
        run: |
          npm start > backend.log 2>&1 & sleep 10
          if curl -f http://localhost:$PORT/matches;
          then
              echo "status_backend=success" >> $GITHUB_OUTPUT
          else
            echo "status_backend=failure" >> $GITHUB_OUTPUT
            exit 1
          fi

      - name: start frontend
        id: frontend
        run: |
          npx http-server ./frontend -p 8080 > frontend.log 2>&1 & sleep 10
          if curl -s http://localhost:8080 | grep -q "Football" 

          then
              echo "status_frontend=success" >> $GITHUB_OUTPUT
          else
            echo "status_frontend=failure" >> $GITHUB_OUTPUT
            exit 1
          fi
          

      - name: Upload server log on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: server-log-${{ matrix.os }}-${{ matrix.port }}
          path: |
            backend.log
            frontend.log

      - name : kill server
        run: kill $(lsof -t -i:3000 -i:8080) || true

      - name: Print summary
        if: success()
        run: echo "✅ Integration test passed on ${{ matrix.os }} (Node ${{ matrix.node-version }})"


