name: Football Tracker CI
on:
  push:
    branches:
     - master
  pull_request:


jobs:
  Test_code:
    runs-on: ubuntu-latest
    environment: football_tracker
    env:
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
    steps:
      - name: get code
        uses: actions/checkout@v4

      - name: setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: install dependencies
        run: npm ci

      - name: linting
        run: npm run lint

      - name: run test
        run: |
          npx jest --json --outputFile=test-results.json 



      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-result
          path: test-results.json


  run_server:
    runs-on: ubuntu-latest
    environment: football_tracker
    needs: Test_code
    env:
        MONGODB_URI: ${{ secrets.MONGODB_URI }}


    steps:
      - name: get code
        uses: actions/checkout@v4

      - name: setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: install dependencies
        run: npm ci

      - name: Debug MONGODB_URI presence
        run: |
          if [ -z "$MONGODB_URI" ]; then
            echo "❌ MONGODB_URI is empty"
            exit 1
          else
            echo "✅ MONGODB_URI is loaded"
            echo "Length: ${#MONGODB_URI}"
          fi


      - name: Start server and call url
        run: |
          npm start & sleep 5
          curl -f http://localhost:3000/matches
  build:
    runs-on: ubuntu-latest
    needs: run_server
    steps:
      - name: get code
        uses: actions/checkout@v4

      - name: setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: grant read permission
        run: chmod 777 /scripts/build.sh

      - name: build artifact
        run: npm run build

      - name: upload page artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy-id.ouutputs.page_url }}

    steps:
      - name: get code
        uses: actions/checkout@v4

      - name: setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: deploy code to Github pages
        id: deploy-id
        uses: actions/deploy-pages@v4



     
