name: Testing

on:
  workflow_call:
    inputs:
      mongodb_uri:
        description: "Enter MongoDB connection string"
        required: false
        type: string
      node-version:
        description: "Node version(s)"
        required: false
        type: string
        default: "20"
      test-result:
        description: "Base name for test result files"
        required: false
        type: string
        default: "test-results"
      os-version:
        description: "Runner OS"
        required: false
        type: string
        default: "ubuntu-latest"

jobs:
  Test_code:
    strategy:
      matrix:
        node-version: ${{ fromJSON(inputs.node-version) }}
        os: ${{ fromJSON(inputs.os-version) }}
    runs-on: ${{ matrix.os }}
    environment: football_tracker
    env:
      MONGODB_URI: ${{ secrets.MONGODB_URI || inputs.mongodb_uri }}

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Linting
        run: npm run lint

      - name: Run tests
        run: |
          npx jest --json --outputFile=${{ inputs.test-result }}.json 
          cat ${{ inputs.test-result }}.json | jq -r '"Passed: \(.numPassedTests)\nFailed: \(.numFailedTests)\nTotal: \(.numTotalTests)"' > ${{ inputs.test-result }}.txt

      - name: Upload artifacts
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.test-result }}-${{ github.job }}-${{ runner.os }}-${{ matrix.node-version }}
          path: |
            ${{ inputs.test-result }}.json
            ${{ inputs.test-result }}.txt
