name: App_tracker Deployment
on:
  push:
    branches:
     - master
  pull_request:

jobs:
  Test_code:
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v4

      - name: setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: install dependencies
        run: npm ci

      - name: linting
        run: npm run lint

      - name: run test
        run: npm test


  run_server:
    runs-on: ubuntu-latest
    needs: Test_code
    steps:
      - name: get code
        uses: actions/checkout@v4

      - name: setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: install dependencies
        run: npm ci

      - name: Start server and call url
        run: |
          npm start & sleep 5
          curl -f http://localhost:3000/matches

     
